<body>
  <h2 class="text-center text-white">Shop</h2>
    <div class="container">
        <div class="row">
          <div class="col" style="margin-top: 20px;">
            <app-shop-card></app-shop-card>
            <app-shop-card></app-shop-card>
            <app-shop-card></app-shop-card>
            <app-shop-card></app-shop-card>
            <div class="container" style="height:20px"></div>
            <app-shop-card></app-shop-card>
            <app-shop-card></app-shop-card>
            <app-shop-card></app-shop-card>
            <app-shop-card></app-shop-card>

          </div>
          <div class="col-3 text-center">
            <img src="https://i.imgur.com/8HTgOzr.png" alt="shopkeep">
          </div>
        </div>
    </div>
    <div class="container" style="height: 150px"></div>
</body>