body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8ee50d98-ba8c-4a11-9e30-2dae75bbfaf7/d7wt6hq-7f104871-39bb-4d49-bfb3-f9c7c64c7168.jpg/v1/fill/w_1600,h_840,q_75,strp/fantasy_forest_by_renanrdgs_d7wt6hq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODQwIiwicGF0aCI6IlwvZlwvOGVlNTBkOTgtYmE4Yy00YTExLTllMzAtMmRhZTc1YmJmYWY3XC9kN3d0NmhxLTdmMTA0ODcxLTM5YmItNGQ0OS1iZmIzLWY5YzdjNjRjNzE2OC5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.PAny_wPANG2l38w7dqiB7hrHziX1VmunItzUH2tR7c0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  .col-3 img{
    width: 400px;
    height: 550px;
    padding-top: 50px;
  }