<body>
    <div class="container-fluid text-white" style="text-align: end;">
        <div class="container">
            <h3>Food: ___</h3>
            <h3>Money: ___</h3>
        </div>
    </div>
    <div class="container text-center petBlock" style="padding-top:50px">
        <header class="text-white">Your pet:</header>
        <h1 class="text-white">______ the Bear</h1>
        <div class="container" style="height:50px"></div>
        <img src="https://i.imgur.com/WGV88f4.png" alt="pooey" style="height:400px">
        <div class="container" style="height: 20px"></div>
        <button type="button" class="btn btn-success">Feed</button>
    </div>
    <div class="container-fluid" style="height:350px"></div>
</body>