body {
    background-image: url("https://images7.alphacoders.com/115/1152403.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
.petBlock{
  background-color: rgb(62, 62, 62);
  border-radius: 10px;
  width:550px;
  height: 750px;
}
.petimage{
  height:400px;
  width: 500px;
}
.hatImg{
  height:100px
  
}