<body>
    <div class="container-fluid text-white" style="text-align: end;">
        <div class="container">
            <h3>Food: {{foodNum}}</h3>
            <h3>Money: {{money}}</h3>
            <button type="button" class="btn btn-info text-center" (click)="logout()">Log Out</button>
        </div>
    </div>
    <div class="container text-center petBlock" style="padding-top:50px">
        <header class="text-white">Your pet:</header>
        <h1 class="text-white">{{petName}} the {{petSpecies}}</h1>
        <div class="container" style="height:50px"></div>
        <img src={{petImg}} alt="loading..." style="height:400px;">
        <div class="container" style="height: 20px"></div>
        <button type="button" class="btn btn-success" (click)="feed()">Feed</button>
    </div>
    <div class="container-fluid" style="height:350px"></div>
</body>