.formBlock{
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width:60%;
}
.bg-blue{
    background-image: url("https://wallpaper.dog/large/20517102.png");
    background-size: 50%;
    height: 38.5rem;
    padding-top: 20px;
}