
<div class="container-fluid bg-black">
<p class="text-white">pet-creator works!</p>
<form id="pet-form">
    <label class="text-white" for="name">Pet Name:</label>
    <input type="text" id="name" name="name" required>
  
    <label class="text-white" for="type">Pet Type:</label>
    <select id="type" name="type" required>
      <option value="">Select a pet type</option>
      <option value="1">Raccoon</option>
      <option value="2">Bear</option>
      <option value="3">Blue Jay</option>
      <option value="4">Bobcat</option>
    </select>
    <button type="submit">Create Pet</button>
  </form>
  <div class="container" style="height:800px"></div>
</div>