<div class="container mooch text-center" style="margin-top:40px;">
  <h2>Create Your Pet!</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="petName">Pet Name:</label>
    <input id="petName" name="petName" type="text" [(ngModel)]="petName" />
  <div class="spacer">
    <label for="petType">Pet Type:</label>
    <select id="petType" name="petType" [(ngModel)]="petType">
      <option value=0>Bear</option>
      <option value=1>Raccoon</option>
      <option value=2>Cardinal</option>
      <option value=3>Trout</option>
    </select>
  </div>
  <div class="spacer">
    <button type="submit" >Preview Your Choices</button>
  </div>
  </form>
  <div class="spacer"></div>
  <h1 *ngIf="previewImg !== ''">{{petName}} the {{tempPetSpecies}}</h1>
  <div class="spacer">
    <img src={{previewImg}} style="height:400px">
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <button *ngIf="previewImg !== ''" type="button" class="btn btn-info" (click)="submitForReals()">Finish Pet</button>
</div>