

<p>pet-creator works!</p>
<form id="pet-form">
    <label for="name">Pet Name:</label>
    <input type="text" id="name" name="name" required>
  
    <label for="type">Pet Type:</label>
    <select id="type" name="type" required>
      <option value="">Select a pet type</option>
      <option value="1">Raccoon</option>
      <option value="2">Bear</option>
      <option value="3">Blue Jay</option>
      <option value="4">Bobcat</option>
    </select>
    <button type="submit">Create Pet</button>
  </form>
