.bg-purble{
    background-image: url("https://dodo.ac/np/images/5/54/Lunar_Horizon_PG_Texture.png");
    background-repeat: repeat;
    background-size: 10%;
    background-position: center center;
}
.userCard img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.nav-link{
    color: white;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link:hover{
    color: cyan;
}