.card {
    margin: 0 10px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    display:inline-block;
    background-image: url("https://dodo.ac/np/images/f/f5/Wood_Paneling_PG_Texture.png");
    background-repeat: repeat;
    background-size: 100%;
    background-position: center center;
  }
  .text-gold{
    color: gold
  }